<!-- <h1>Welcome</h1> -->
<h1>Welcome <%= @user.username %></h1>
<p>We are currently working on your account.</p>

<h3>Your current balance: <%= @user.balance %></h3>
<p><a href="/deposit">Withdraw</a> or <a href="/withdrawal">Deposit</a></p>

<p><a href="/logout">Log Out</a></p>
